<div class="container">
    <div class="row">
        <div class="col-sm-9">
        {% for hotel in offers.Hotel %}
            <div class="well well-lg">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="{{ hotel.hotelInfo.hotelImageUrl }}" alt="...">
                    </div>
                    <div class="col-sm-6">
                        <p class="navbar-text">
                        <h4>{{ hotel.hotelInfo.hotelName }}</h4>
                        {{ hotel.destination.city }}, {{ hotel.destination.province }}</p>
                    </div>
                    <div class="col-sm-4">
                        <p class="navbar-text">
                            <span class="glyphicon glyphicon-star">{{ hotel.hotelInfo.hotelStarRating|number_format }}/5</span><br />
                            <strike>{{ hotel.hotelPricingInfo.originalPricePerNight }}{{ hotel.hotelPricingInfo.currency }}</strike> {{ hotel.hotelPricingInfo.totalPriceValue }}{{ hotel.hotelPricingInfo.currency }}
                            <br /><i>Save Up To {{ hotel.hotelPricingInfo.percentSavings|number_format }} %</i></p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>