<div class="container">
    <div class="row">
        <h1>Hotels</h1>
        <table cellpadding="10">
        {% for hotel in offers.Hotel %}
        <tr class="row">
            <td>
                <img src="{{ hotel.hotelInfo.hotelImageUrl }}">
            </td>
            <td>
                <b><a href="{{ hotel.hotelInfositeUrl.hotelUrls }}">{{ hotel.hotelInfo.hotelName }}</a></b> <br />
                {{ hotel.destination.country }} - {{ hotel.destination.city }}<br />
                <b>Rate:</b> {{ hotel.hotelInfo.hotelStarRating }}/5<br />
                <b>Price per Night:</b>{{ hotel.hotelPricingInfo.originalPricePerNight }} {{ hotel.hotelPricingInfo.currency }}
                <i>Save Up To {{ hotel.hotelPricingInfo.percentSavings }} %</i>
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>
</div>