<div class="container">
    <div class="row">
        <h1>Hotel deals</h1>
        <table></table>
        {% for hotel in offers.Hotel %}
        <tr class="row">
            <td>
                <img src="{{ hotel.hotelInfo.hotelImageUrl }}">
            </td>
            <td>
                <div class="row">
                <b><a href="{{ hotel.hotelInfositeUrl.hotelUrls }}">{{ hotel.hotelInfo.hotelName }}</a></b>
                </div>
                <div class="row">
                    {{ hotel.destination.country }} - {{ hotel.destination.city }}
                </div>

            </td>
        </tr>
        {% endfor %}
        </table>
    </div>
</div>