<div class="container">
    <li class="row">
        <h1>Hotels</h1>

        {#<table cellpadding="12">#}
        {#{% for hotel in offers.Hotel %}#}
        {#<tr class="row">#}
            {#<td>#}
                {#<img src="{{ hotel.hotelInfo.hotelImageUrl }}">#}
            {#</td>#}
            {#<td>#}
                {#<b><a href="{{ hotel.hotelInfositeUrl.hotelUrls }}">{{ hotel.hotelInfo.hotelName }}</a></b>#}
                {#<span class="badge badge-secondary">{{ hotel.hotelInfo.hotelStarRating|number_format }}/5</span><br />#}
                {#{{ hotel.destination.country }} - {{ hotel.destination.city }}<br />#}
                {#<b>Rate:</b> <br />#}
                {#<b>Price per Night:</b>{{ hotel.hotelPricingInfo.originalPricePerNight }} {{ hotel.hotelPricingInfo.currency }}<br />#}
                {#<i>Save Up To {{ hotel.hotelPricingInfo.percentSavings|number_format }} %</i>#}
            {#</td>#}
        {#</tr>#}
        {#{% endfor %}#}
        {#</table>#}
        <ul class="list-unstyled">
        {% for hotel in offers.Hotel %}
            <li class="media">
                <img class="mr-3" src="{{ hotel.hotelInfo.hotelImageUrl }}" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">{{ hotel.hotelInfo.hotelName }}<span class="badge badge-secondary">{{ hotel.hotelInfo.hotelStarRating|number_format }}/5</span></h5>
                    Price per Night:</b>{{ hotel.hotelPricingInfo.originalPricePerNight }} {{ hotel.hotelPricingInfo.currency }}
                    <i>Save Up To {{ hotel.hotelPricingInfo.percentSavings|number_format }} %</i>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>